version: 2
updates:
  # 1. Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "daily"
    groups:
      actions:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "ci"
      - "automerge"

  # 2. Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "docker"
      - "automerge"

  # 3. Maintain dependencies for Go Modules (Bridge)
  - package-ecosystem: "gomod"
    directory: "/bridge"
    target-branch: "dev"
    schedule:
      interval: "daily"
    groups:
      go-dependencies:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "go"
      - "automerge"
